<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 인터페이스와 xml을 인터페이스 이름과 namespace 속성값을 가지고 판단 -->
 <!-- 이름을 동일하게 해주어야함!!!! -->   
 <mapper namespace="org.zerock.mapper.TestMapper">
 
 <select id="getList" resultType="org.zerock.domain.TestVO">
 <![CDATA[
 SELECT * FROM system.member
 ]]>
 </select>
 
 <!-- update 성공 : 1, 실패 : 0 -->
 <!-- delete 성공 : 삭제된 row의 수량 실패 : 0 -->
 
 <select id="read" resultType="org.zerock.domain.TestVO">
 select * from system.member where bno = #{bno}
 </select>
 
 <select id="delete" resultType="Integer">
 delete from system.member where bno = #{bno}
 </select>
 
 <update id="update">
 update system.member set
 name = #{name},
 age = #{age},
 where bno = #{bno}
 </update>
 
 </mapper>